:root {
    --black:    #020303;
    --pink:     #B02055;
    --red:      #DB4047;
    --green:    #B9D190;
    --blue:     #90B9D1;
    --white:    #EDEFEE;
    --radius:   12px;
}
h1.title {
        color: #000000;
        letter-spacing: 12px;
        font-size: 4.5rem;
        font-weight: 200;
        letter-spacing: 14px;  
    }
h4.subtitle {
        color: #000000;
        letter-spacing: 12px;
        font-size: 22.75px;
        font-weight: 100;
        letter-spacing: 22px;  
    }
.subnav{
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 12px;
} 
    
/* Fade Up Nav */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body  {
    font-family: europa;
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: table;
}
.home  {
    width: 100%;
    height: 100vh;
    background: url('./static/images/people/listening.jpg') no-repeat 50% 50%;
    background-size: cover;
    display: table;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content h1 {
    color: #fff;
    font-family: "Poppins";
    font-weight: 200;
    font-size: 40px;
}

nav {
    width: 100%;
    background: #000;
    height: 70px;
    position: static;
    z-index: 1;
}

nav #brand {
    float: left;
    display: block;
    margin-left: 84px;
    font-size: 30px;
    line-height: 70px;
    font-weight: bold;
}

nav #brand a {
    color: #fff;
    transition: all 0.3s ease-out;
    font-family: "Poppins";
    font-weight: 300;
}

nav #menu {
    float: left;
    left: 50%;
    position: relative;
}

nav #menu li {
    display: inline-block;
    padding: 0px 30px;
    cursor: pointer;
    line-height: 70px;
    position: relative;
    transition: all 0.3s ease-out;
}

nav #menu li a {
    color: #fff;
    font-family: "Poppins";
    font-weight: 200;
}

#toggle {
    position: absolute;
    right: 20px;
    top: 14px;
    z-index: 999;
    width: 40px;
    height: 40px;
    cursor: pointer;
    float: right;
    transition: all 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
}

#toggle .span {
    height: 3px;
    background: #fff;
    transition: all 0.3s ease-out;
    backface-visibility: hidden;
    margin: 5px auto;
}

#toggle.on #one {
    transform: rotate(45deg) translateX(2px) translateY(4px);
}

#toggle.on #two {
    opacity: 0;
}

#toggle.on #three {
    transform: rotate(-45deg) translateX(8px) translateY(-10px);
}

#resize {
    z-index: 1;
    top: 0px;
    position: absolute;
    background: #000;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-out;
    display: table;
}

#resize #menu {
    height: 90px;
    display: table-cell;
    vertical-align: center;
}

#resize #menu li {
    display: block;
    text-align: center;
    padding: 20px 0;
    font-size: 50px;
    min-height: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
    margin-top:140px;
}

#resize #menu li a {
    color: #fff;
}

#resize.active {
    visibility: visible;
    opacity: 0.99;
}


@media(max-width: 768px) {
    #toggle {
          visibility: visible;
          opacity: 1;
          margin-top: 6px;
    }

    nav #brand {
          margin-left: 18px;
    }

    #menu a {
          font-family: "Poppins";
          font-weight: 200;
          font-size: 20px;
    }

    nav #menu {
          display: none;
    }
}

@media(min-width: 768px) {
    #resize {
          visibility: hidden !important;
    }
}
/*Navbar background*/
.bg-light {
    background-color: transparent!important;
}
.navbar-nav .nav-link {
    margin-right: 25px;
    margin-left: 25px;
}
.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: .3125rem;
    margin-right: 25px;
    margin-left: 25px;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    letter-spacing: 4px;
}
/* Within style tags in your html file */
* { box-sizing: border-box; }

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 33.333%;
}
@media (max-width: 575px) {
  .grid-sizer,
  .grid-item {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
}

/* Effect 4: fall perspective */
.grid {
	max-width: 69em;
	list-style: none;
	margin: 30px auto;
	padding: 0;
}

.grid li {
	display: block;
	float: left;
	padding: 7px;
	width: 33%;
	opacity: 0;
}

.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
	opacity: 1;
}

.grid li a,
.grid li img {
	outline: none;
	border: none;
	display: block;
	max-width: 100%;
}

/* Effect 1: opacity */
.grid.effect-1 li.animate {
	-webkit-animation: fadeIn 0.65s ease forwards;
	animation: fadeIn 0.65s ease forwards;
}

@-webkit-keyframes fadeIn {
	0% { }
	100% { opacity: 1; }
}

@keyframes fadeIn {
	0% { }
	100% { opacity: 1; }
}

/* Effect 2: Move Up */
.grid.effect-2 li.animate {
	-webkit-transform: translateY(200px);
	transform: translateY(200px);
	-webkit-animation: moveUp 0.65s ease forwards;
	animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
}

/* Effect 3: Scale up */
.grid.effect-3 li.animate {
	-webkit-transform: scale(0.6);
	transform: scale(0.6);
	-webkit-animation: scaleUp 0.65s ease-in-out forwards;
	animation: scaleUp 0.65s ease-in-out forwards;
}

@-webkit-keyframes scaleUp {
	0% { }
	100% { -webkit-transform: scale(1); opacity: 1; }
}

@keyframes scaleUp {
	0% { }
	100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}

/* Effect 4: fall perspective */
.grid.effect-4 {
	-webkit-perspective: 1300px;
	perspective: 1300px;
}

.grid.effect-4 li.animate {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(400px) translateY(300px) rotateX(-90deg);
	transform: translateZ(400px) translateY(300px) rotateX(-90deg);
	-webkit-animation: fallPerspective .8s ease-in-out forwards;
	animation: fallPerspective .8s ease-in-out forwards;
}

@-webkit-keyframes fallPerspective {
	0% { }
	100% { -webkit-transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }
}

@keyframes fallPerspective {
	0% { }
	100% { -webkit-transform: translateZ(0px) translateY(0px) rotateX(0deg); transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }
}

/* Effect 5: fly (based on http://lab.hakim.se/scroll-effects/ by @hakimel) */
.grid.effect-5 {
	-webkit-perspective: 1300px;
	perspective: 1300px;
}

.grid.effect-5 li.animate {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 50% 50% -300px;
	transform-origin: 50% 50% -300px;
	-webkit-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
	-webkit-animation: fly .8s ease-in-out forwards;
	animation: fly .8s ease-in-out forwards;
}

@-webkit-keyframes fly {
	0% { }
	100% { -webkit-transform: rotateX(0deg); opacity: 1; }
}

@keyframes fly {
	0% { }
	100% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); opacity: 1; }
}

/* Effect 6: flip (based on http://lab.hakim.se/scroll-effects/ by @hakimel) */
.grid.effect-6 {
	-webkit-perspective: 1300px;
	perspective: 1300px;
}

.grid.effect-6 li.animate {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
	-webkit-transform: rotateX(-80deg);
	transform: rotateX(-80deg);
	-webkit-animation: flip .8s ease-in-out forwards;
	animation: flip .8s ease-in-out forwards;
}

@-webkit-keyframes flip {
	0% { }
	100% { -webkit-transform: rotateX(0deg); opacity: 1; }
}

@keyframes flip {
	0% { }
	100% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); opacity: 1; }
}

/* Effect 7: helix (based on http://lab.hakim.se/scroll-effects/ by @hakimel) */
.grid.effect-7 {
	-webkit-perspective: 1300px;
	perspective: 1300px;
}

.grid.effect-7 li.animate {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	-webkit-animation: helix .8s ease-in-out forwards;
	animation: helix .8s ease-in-out forwards;
}

@-webkit-keyframes helix {
	0% { }
	100% { -webkit-transform: rotateY(0deg); opacity: 1; }
}

@keyframes helix {
	0% { }
	100% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); opacity: 1; }
}

/* Effect 8:  */
.grid.effect-8 {
	-webkit-perspective: 1300px;
	perspective: 1300px;
}

.grid.effect-8 li.animate {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: scale(0.4);
	transform: scale(0.4);
	-webkit-animation: popUp .8s ease-in forwards;
	animation: popUp .8s ease-in forwards;
}

@-webkit-keyframes popUp {
	0% { }
	70% { -webkit-transform: scale(1.1); opacity: .8; -webkit-animation-timing-function: ease-out; }
	100% { -webkit-transform: scale(1); opacity: 1; }
}

@keyframes popUp {
	0% { }
	70% { -webkit-transform: scale(1.1); transform: scale(1.1); opacity: .8; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }
	100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}

@media screen and (max-width: 900px) {
	.grid li {
		width: 50%;
	}
}

@media screen and (max-width: 400px) {
	.grid li {
		width: 100%;
	}
}
